@media (max-width: 468px) {
    .contenido {
        margin-top: 30px;
        flex-direction: column;
        padding: 0 10px;
        gap: 30px;
    }

    .tabla{
        width: 100%;
        border: #e4e4df 1px solid;
    }
    .encabezado-tabla{
        font-size: 28px;
    }
    
    .cuerpo-tabla{
        padding: 10px 0px 0px 5px;
        width: 100%;
    }

    .card{
        width: 100%;
        margin-bottom: 38px;
        align-items: center;
    }
    
    .icono{
        
        align-self: self-start;
        margin-top: 4px;
        width: 23%;
        svg{
            width: 29px;
            height: 29px;
        }    
    }

    .informacion{
        width: 37%;
        gap: 3px; 
        text-align: center;   
    }

    .nombre-producto{
        span{
            font-size: 21px;
            
        }
    }

    .solicitado span,
    .area span, 
    .fecha span {
        font-size: 14px;
    }
     
    .cantidad-pz{
        width: 40%;
        justify-content: flex-start;
        flex-direction: column-reverse;
    }

    .flecha svg{
        width: 32px;
        height: 32px;        
    }

    .numero-pz span{
        font-size: 22px;
    }

    .panel_izquierdo{
        width: 100%;             
    }

    .productos{
        gap: 20px;
        padding: 10px;
        flex-direction: column;
    }

    .mas-demanda, .menos-demanda{
        width: 65%; 
        justify-content: center;
        align-self: center;
        padding: 15px;
        svg{
            width: 40px;
            height: 40px;
        }       
    }
    

    .info{ 
        h1{
         font-size: 22px;
        }
        
        h2 {
            font-size: 18px;
        }
    }

}

@media (min-width: 469px) and (max-width: 768px) {
    .contenido {
        margin-top: 30px;
        flex-direction: column;
        padding: 0 10px;
        gap: 30px;
    }

    .tabla{
        width: 87%;
        align-self: center; 
    }
    .encabezado-tabla{
        font-size: 36px;
    
    }
    .cuerpo-tabla{
        padding: 15px 0px 0px 5px;
        width: 100%;
    }

    .card{
        width: 100%;
        margin-bottom: 40px;
        
    }

    .icono{
        
        align-self: center;
        width: 23%;
        svg{
            width: 33px;
            height: 33px;
        }    
    }

    .informacion{
        width: 50%;
        gap: 4px;   
        text-align: center; 
        justify-content: center;
        
        /* background-color: aqua; */
    }
    .nombre-producto{
        span{
            font-size: 22px;
            
        }
    }

    .solicitado span,
    .area span,
    .fecha span {
        font-size: 15px;
        text-align: center;
    }

    .panel_izquierdo{
        width: 100%;             
    }
}    

@media (min-width: 769px) and (max-width: 1024px) {
    
    .contenido {
        margin-top: 40px;
        flex-direction: column;
        padding: 0 30px;
        gap: 40px;
    }

    .tabla{
        width: 81%;
        align-self: center;
    }

    .panel_izquierdo{
        width: 100%;             
    }
    
    
}