.swiper-pagination {
    position: static !important;
    width: auto !important;
    display: flex !important; /* Los puntos también en flex */
    align-items: center;
    gap: 8px;                 /* Espacio entre cada punto */
}

.swiper-button-prev, .swiper-button-next {
    position: static !important;
    color: #3F403D !important;
    width: 18px !important;   /* Área de clic un poco más grande */
    height: 18px !important;
    margin: 0 !important;     /* Elimina el margin-top negativo de Swiper */
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/* Ajuste del icono interno de las flechas */
.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 16px !important; /* Tamaño del icono */
    font-weight: bold;
    /* Esto quita cualquier desplazamiento extraño del icono */
    line-height: 1; 
}

/* Estilo de los puntos (Bullets) */
.swiper-pagination-bullet {
    background: #AE2B2F !important;
    width: 10px;
    height: 10px;
    margin: 0 !important; /* Swiper pone margen lateral, lo controlamos con gap */
    opacity: 0.2;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}