* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@page {
    margin: 20mm 15mm;
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 40px;
}

.container {
    width: 100%;    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

th,
td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f5f5f5;
    font-weight: bold;
    font-size: 10px;
}


tbody{
    font-size: 8px;
}

tbody tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

thead {
    display: table-header-group;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container {
    width: 100%;
    
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.text-gray {
    color: #6b7280;
}

