*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 40px 40px;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo{
    margin-top: 10px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    img{
        width: 420px;
        height: auto;
    }
}

.corporacion{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    h1{
        font-weight: bold;
        font-size: 24px;
    }
    h2{
        font-weight: normal;
        font-size: 18px;
    }
}

.solicitud{
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    
}

.nombre-s{
    font-size: 22px;
    font-weight: bold;
}

.informacion-s{    
    padding: 0 15px;
    display: flex;
    flex-direction:row;
    width: 100%;
    justify-content: center;
    margin-top: 15px;    
    margin-bottom: 25px;
    div{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
    }
}

.tabla{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    padding: 0 80px;
}

.tabla-v{
    width: 100%;    
    border-collapse: collapse;
    text-align: center;

    thead{
        background-color: #AE2B2F;
        color: white;
    }

    th, td{
        padding: 8px;
        text-align: center;
        border: 3px solid #ddd;
    }

    th{
        background-color: #f5f5f5;
    }    

}

.autorizacion{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
    margin-top: 40px;
    padding: 0 120px;
}

.tabla-autorizacion{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;

    thead{
        background-color: #AE2B2F;
        color: white;
    }

    th, td{
        padding: 8px;
        text-align: center;
        border: 3px solid #ddd;
        width: 50%;
    }

    th{
        background-color: #AE2B2F;
        color: white;   
        font-weight: bold;
    }

    tbody td{
        height: 150px;
        vertical-align: bottom;
        padding: 8px;
    }
}

.firma-espacio{
    height: 60px;
    border-bottom: 2px solid black;
    margin: 0 auto 10px auto;
    width: 80%;
}

.firma-espacio + p {
    margin-top: 5px;
    font-size: 14px;
}

